	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{{ site.description }}">
	<link rel="canonical" href="{{ site.rooturl }}{{ site.baseurl }}{{ page.url }}">

	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/static/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/static/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/static/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="{{ site.baseurl }}/static/favicon/manifest.json">
	<link rel="mask-icon" href="{{ site.baseurl }}/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="{{ site.baseurl }}/static/favicon/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="MINEX">
	<meta name="application-name" content="MINEX">
	<meta name="msapplication-config" content="{{ site.baseurl }}/static/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="{{ site.baseurl }}/static/css/NISTStyle.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/static/css/NISTPages.min.css">

	<script async type="text/javascript" id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=NIST&subagency=github&pua=UA-42404149-54&yt=true&exts=ppsx,pps,f90,sch,rtf,wrl,txz,m1v,xlsm,msi,xsd,f,tif,eps,mpg,xml,pl,xlt,c"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
