	<header class="nist-header">
		<a class="nist-logo" target="_blank" href="https://www.nist.gov/" title="Go to nist.gov">National Institute of Standards and Technology</a>
		<div class="nist-links">
			<a class="nist-links-button" target="_blank" href="https://www.nist.gov">NIST Website</a>
			<a class="nist-links-button mobile-hide" target="_blank" href="https://www.nist.gov/about-nist">About NIST</a>
			<a class="nist-links-button mobile-hide" target="_blank" href="https://github.com/usnistgov">usnistgov on GitHub</a>
		</div>
	</header>
